input {
  file {
    path => ['/var/log/traptor/*.log']
    codec => json
    tags => ['traptor']
  }
}

output {
    if 'traptor' in [tags] {
        elasticsearch {
            hosts => "{{ groups['elasticsearch-nodes'][0] }}:{{ elasticsearch_network_http_port|default(9200) }}"
            template => "/etc/logstash/templates/logs-template.json"
            template_name => "logs-*"
            template_overwrite => true
            index => "logs-{{ logstash_environment }}-traptor-%{+YYYY.MM.dd}"
            document_type => "%{[logger]}"
            {% if logstash_credentials is defined and logstash_credentials == true %}
            user => "ist-es"
            password => "{{ logstash_es_pwd }}"
            {% endif %}
        }
    }
}
