version: '2'

services:
  locations_0:
    image: istresearch/traptor:v1.3.0
    volumes:
      - logs:/var/log/traptor
    environment:
      - TRAPTOR_TYPE=locations
      - TRAPTOR_ID=0
      - RULE_CHECK_INTERVAL=60
      - USE_SENTRY=true
      - SENTRY_URL=https://{{ sentry_url_un }}:{{ sentry_url_pwd }}@sentry.io/55250
      - LOG_LEVEL=INFO
      - LOG_DIR=/var/log/traptor
      - LOG_FILE_NAME=traptor_locations_0.log
      - KAFKA_ENABLED=true
      - KAFKA_HOSTS={{ kafka_hosts }}
      - KAFKA_TOPIC=traptor.cooper_prod
      - REDIS_HOST=memex-services.istresearch.com
      - REDIS_PORT=6379
      - REDIS_DB=1
      - REDIS_PUBSUB_CHANNEL=traptor-notify-prod
      - CONSUMER_KEY={{ locations0_consumer_key }}
      - CONSUMER_SECRET={{ locations0_consumer_secret }}
      - ACCESS_TOKEN={{ locations0_access_token }}
      - ACCESS_TOKEN_SECRET={{ locations0_access_token_secret }}
      - STATSD_HOST_IP=172.17.0.1
    restart: "on-failure:3"
    depends_on:
      - logstash

  locations_1:
    image: istresearch/traptor:v1.3.0
    volumes:
      - logs:/var/log/traptor
    environment:
      - TRAPTOR_TYPE=locations
      - TRAPTOR_ID=1
      - RULE_CHECK_INTERVAL=60
      - USE_SENTRY=true
      - SENTRY_URL=https://{{ sentry_url_un }}:{{ sentry_url_pwd }}@sentry.io/55250
      - LOG_LEVEL=INFO
      - LOG_DIR=/var/log/traptor
      - LOG_FILE_NAME=traptor_locations_1.log
      - KAFKA_ENABLED=true
      - KAFKA_HOSTS={{ kafka_hosts }}
      - KAFKA_TOPIC=traptor.cooper_prod
      - REDIS_HOST=memex-services.istresearch.com
      - REDIS_PORT=6379
      - REDIS_DB=1
      - REDIS_PUBSUB_CHANNEL=traptor-notify-prod
      - CONSUMER_KEY={{ locations1_consumer_key }}
      - CONSUMER_SECRET={{ locations1_consumer_secret }}
      - ACCESS_TOKEN={{ locations1_access_token }}
      - ACCESS_TOKEN_SECRET={{ locations1_access_token_secret }}
      - STATSD_HOST_IP=172.17.0.1
    restart: "on-failure:3"
    depends_on:
      - logstash

  locations_2:
    image: istresearch/traptor:v1.3.0
    volumes:
      - logs:/var/log/traptor
    environment:
      - TRAPTOR_TYPE=locations
      - TRAPTOR_ID=2
      - RULE_CHECK_INTERVAL=60
      - USE_SENTRY=true
      - SENTRY_URL=https://{{ sentry_url_un }}:{{ sentry_url_pwd }}@sentry.io/55250
      - LOG_LEVEL=INFO
      - LOG_DIR=/var/log/traptor
      - LOG_FILE_NAME=traptor_locations_2.log
      - KAFKA_ENABLED=true
      - KAFKA_HOSTS={{ kafka_hosts }}
      - KAFKA_TOPIC=traptor.cooper_prod
      - REDIS_HOST=memex-services.istresearch.com
      - REDIS_PORT=6379
      - REDIS_DB=1
      - REDIS_PUBSUB_CHANNEL=traptor-notify-prod
      - CONSUMER_KEY={{ locations2_consumer_key }}
      - CONSUMER_SECRET={{ locations2_consumer_secret }}
      - ACCESS_TOKEN={{ locations2_access_token }}
      - ACCESS_TOKEN_SECRET={{ locations2_access_token_secret }}
      - STATSD_HOST_IP=172.17.0.1
    restart: "on-failure:3"
    depends_on:
      - logstash

  locations_3:
    image: istresearch/traptor:v1.3.0
    volumes:
      - logs:/var/log/traptor
    environment:
      - TRAPTOR_TYPE=locations
      - TRAPTOR_ID=3
      - RULE_CHECK_INTERVAL=60
      - USE_SENTRY=true
      - SENTRY_URL=https://{{ sentry_url_un }}:{{ sentry_url_pwd }}@sentry.io/55250
      - LOG_LEVEL=INFO
      - LOG_DIR=/var/log/traptor
      - LOG_FILE_NAME=traptor_locations_3.log
      - KAFKA_ENABLED=true
      - KAFKA_HOSTS={{ kafka_hosts }}
      - KAFKA_TOPIC=traptor.cooper_prod
      - REDIS_HOST=memex-services.istresearch.com
      - REDIS_PORT=6379
      - REDIS_DB=1
      - REDIS_PUBSUB_CHANNEL=traptor-notify-prod
      - CONSUMER_KEY={{ locations3_consumer_key }}
      - CONSUMER_SECRET={{ locations3_consumer_secret }}
      - ACCESS_TOKEN={{ locations3_access_token }}
      - ACCESS_TOKEN_SECRET={{ locations3_access_token_secret }}
      - STATSD_HOST_IP=172.17.0.1
    restart: "on-failure:3"
    depends_on:
      - logstash

  locations_4:
    image: istresearch/traptor:v1.3.0
    volumes:
      - logs:/var/log/traptor
    environment:
      - TRAPTOR_TYPE=locations
      - TRAPTOR_ID=4
      - RULE_CHECK_INTERVAL=60
      - USE_SENTRY=true
      - SENTRY_URL=https://{{ sentry_url_un }}:{{ sentry_url_pwd }}@sentry.io/55250
      - LOG_LEVEL=INFO
      - LOG_DIR=/var/log/traptor
      - LOG_FILE_NAME=traptor_locations_4.log
      - KAFKA_ENABLED=true
      - KAFKA_HOSTS={{ kafka_hosts }}
      - KAFKA_TOPIC=traptor.cooper_prod
      - REDIS_HOST=memex-services.istresearch.com
      - REDIS_PORT=6379
      - REDIS_DB=1
      - REDIS_PUBSUB_CHANNEL=traptor-notify-prod
      - CONSUMER_KEY={{ locations4_consumer_key }}
      - CONSUMER_SECRET={{ locations4_consumer_secret }}
      - ACCESS_TOKEN={{ locations4_access_token }}
      - ACCESS_TOKEN_SECRET={{ locations4_access_token_secret }}
      - STATSD_HOST_IP=172.17.0.1
    restart: "on-failure:3"
    depends_on:
      - logstash

  locations_5:
    image: istresearch/traptor:v1.3.0
    volumes:
      - logs:/var/log/traptor
    environment:
      - TRAPTOR_TYPE=locations
      - TRAPTOR_ID=5
      - RULE_CHECK_INTERVAL=60
      - USE_SENTRY=true
      - SENTRY_URL=https://{{ sentry_url_un }}:{{ sentry_url_pwd }}@sentry.io/55250
      - LOG_LEVEL=INFO
      - LOG_DIR=/var/log/traptor
      - LOG_FILE_NAME=traptor_locations_5.log
      - KAFKA_ENABLED=true
      - KAFKA_HOSTS={{ kafka_hosts }}
      - KAFKA_TOPIC=traptor.cooper_prod
      - REDIS_HOST=memex-services.istresearch.com
      - REDIS_PORT=6379
      - REDIS_DB=1
      - REDIS_PUBSUB_CHANNEL=traptor-notify-prod
      - CONSUMER_KEY={{ locations5_consumer_key }}
      - CONSUMER_SECRET={{ locations5_consumer_secret }}
      - ACCESS_TOKEN={{ locations5_access_token }}
      - ACCESS_TOKEN_SECRET={{ locations5_access_token_secret }}
      - STATSD_HOST_IP=172.17.0.1
    restart: "on-failure:3"
    depends_on:
      - logstash

  logstash:
    container_name: traptor_logstash
    image: logstash:latest
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - /opt/docker_configs/logstash-traptor-prod.conf:/etc/logstash/conf.d/logstash.conf
      - /opt/docker_configs/logs-template.json:/etc/logstash/templates/logs-template.json
      - logs:/var/log/traptor

volumes:
  logs:

