[program:hadoop-yarn-nodemanager]
command={{ hdfs_install_dir }}/hadoop-{{ hdfs_version}}/bin/yarn nodemanager
autostart=true
autorestart=true
user={{ hdfs_user }}
startsecs={{ hdfs_start_secs }}
startretries={{ hdfs_start_retries }}
stopsignal=TERM
stopwaitsecs=120
redirect_stderr=true
stdout_logfile=AUTO
stdout_logfile_maxbytes={{ hdfs_stdout_logfile_maxbytes }}
stderr_logfile=AUTO
stderr_logfile_maxbytes={{ hdfs_stderr_logfile_maxbytes }}
environment = {{ hdfs_env_vars }}