[program:kafka]
command={{ kafka_install_dir }}/default/bin/kafka-server-start.sh {{ kafka_config_dir }}/server.properties
environment= KAFKA_HEAP_OPTS="-Xmx4G -Xms4G"
autostart=true
autorestart=true
startsecs=5
stopsignal=KILL
