{{ elasticsearch_user }}  -       nofile  {{ elasticsearch_max_open_files }}
{{ elasticsearch_user }}  -       nproc   {{ elasticsearch_max_num_procs }}
{{ elasticsearch_user }}  -       memlock   {{ elasticsearch_max_locked_memory }}