[program:docker-engine]
command=pidproxy {{ docker_pid_file }} docker -d -p {{ docker_pid_file }}
autostart=true
autorestart=true
user={{ docker_user }}
group={{ docker_group }}
startsecs=10
startretries=3
startsecs={{ docker_start_secs }}
startretries={{ docker_start_retries }}
stopsignal={{ docker_stop_signal }}