[program:{{ sc_redis_monitor_supervisor_name }}]
command=/usr/bin/python redis_monitor.py
directory={{ sc_install_dir }}/default/redis-monitor
autostart=true
autorestart=true
startsecs={{ sc_redis_monitor_start_secs }}
startretries={{ sc_redis_monitor_start_retries }}
stopsignal=KILL
