input {
  kafka {
    topic_id => "{{ traptor_kafka_topic }}"
    consumer_threads => {{ traptor_consumer_threads }}
    zk_connect => "{% for host in groups['zookeeper-nodes'] %}{{ host }}:{{ zookeeper_port|default(2181) }}{% if not loop.last %},{% endif %}{% endfor %}"
    group_id => "{{ traptor_name }}-logstash"
    tags => ["{{ traptor_name }}"]
  }
}

output {
  if "{{ traptor_name}}" in [tags] {
    elasticsearch {
      host => "{{ groups['elasticsearch-nodes'][0] }}"
      port => {{ traptor_es_port }}
      protocol => http
      ssl => {{ traptor_ssl }}
      user => "{{ traptor_es_user }}"
      password => "{{ traptor_es_password }}"
      template => "{{ logstash_template_dir }}/{{ traptor_name }}.json"
      template_name => "{{ traptor_name}}-logstash.conf"
      template_overwrite => true
      index => "{{ traptor_name }}-%{+YYYY.MM}"
      index_type => "{{ traptor_doc_type }}"
      document_id => "%{[id_str]}"
    }
  }
}