input {
  kafka {
    topic_id => "{{ cooper_the_dog_kafka_topic }}"
    consumer_threads => {{ cooper_the_dog_consumer_threads }}
    zk_connect => "{% for host in groups['zookeeper-nodes'] %}{{ host }}:{{ zookeeper_port|default(2181) }}{% if not loop.last %},{% endif %}{% endfor %}"
    group_id => "{{ cooper_the_dog_name }}-logstash"
    tags => ["{{ cooper_the_dog_name }}"]
  }
}

output {
  if "{{ cooper_the_dog_name }}" in [tags] {
    elasticsearch {
      host => "{{ groups['elasticsearch-nodes'][0] }}"
      port => {{ cooper_the_dog_es_port }}
      protocol => http
      ssl => {{ cooper_the_dog_ssl }}
      user => "{{ cooper_the_dog_es_user }}"
      password => "{{ cooper_the_dog_es_password }}"
      template => "{{ logstash_template_dir }}/{{ cooper_the_dog_name }}.json"
      template_name => "{{ cooper_the_dog_name}}-logstash.conf"
      template_overwrite => true
      index => "{{ cooper_the_dog_name }}-%{+YYYY.MM}"
      index_type => "{{ cooper_the_dog_doc_type }}"
      document_id => "%{[crawlid]}"
    }
  }
}