[program:spark-master]
command={{ spark_install_dir }}/{{ spark_pkg_name }}/bin/spark-class org.apache.spark.deploy.master.Master
autostart=true
autorestart=true
stopsignal=SIGTERM
stopwaitsecs=600
redirect_stderr=true
stderr_logfile=AUTO
stderr_logfile_maxbytes={{ spark_stderr_logfile_maxbytes }}