[program:{{ cooper_name }}]
command={{ miniconda_install_dir|default('/opt/miniconda') }}/bin/python {{ cooper_install_dir }}/manager_app.py
directory={{ cooper_install_dir }}
process_name=%(program_name)s
numprocs={{ cooper_num_procs }}
autostart=true
autorestart=unexpected
exitcodes=0,2,3
startsecs={{ cooper_start_secs }}
startretries={{ cooper_start_retries }}
stopsignal=KILL
redirect_stderr=true
stderr_logfile=AUTO
stderr_logfile_maxbytes={{ cooper_stderr_logfile_maxbytes }}
