# Specify the host and port to use when connecting to Redis (optional).
REDIS_HOST = "{{ groups['redis-master-node'][0] }}"
REDIS_PORT = {{ redis_port|default(6379) }}
POLL_INTERVAL = {{ redis_monitor_poll_interval }}

LOGGER_NAME = '{{ redis_monitor_logger_name }}'
LOG_DIR = '{{ redis_monitor_log_dir }}'
LOG_FILE = '{{ redis_monitor_log_file }}'
LOG_MAX_BYTES = {{ redis_monitor_log_max_bytes }}
LOG_BACKUPS = {{ redis_monitor_log_backups }}

# Kafka server information
KAFKA_HOSTS = "{% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}"
KAFKA_TOPIC_PREFIX = "{{ redis_monitor_kafka_prefix }}"

# elasticsearch info
ES_HOST = {% if groups['elasticsearch-nodes'] is defined and (groups['elasticsearch-nodes']|length > 0) %}"{{ groups['elasticsearch-nodes'][0] }}"{% endif %}

ES_PORT = "{{ elasticsearch_network_http_port|default(9200) }}"
