{
    "filter": {
        "query": {
            "bool": {
                "should": [{
                    "constant_score": {
                        "filter": {
                            "terms": {
                                "meta.rule_matcher.results.appid": ["{{ item.name }}"]
                            }
                        }
                    }
                }, {
                    "constant_score": {
                        "filter": {
                            "terms": {
                                "doc.appid": ["{{ item.name }}"]
                            }
                        }
                    }
                }]
            }
        }
    }
}