es_host: {{ elastalert_es_host }}
es_port: {{ elastalert_es4_port }}

name: Scrapy indexer flatline
type: flatline
index: crawler-*
threshold: 10
timeframe:
  minutes: 5
filter:
- query:
    query_string:
      query: "logger: scrapy-indexer"
alert:
# - {{elastalert_slack_alerter}}
- {{elastalert_pg_alerter}}

# Slack required options
slack_hook: {{slackbot}}
slack_channel: {{elastalert_service_monitoring_channel}}

# PagerDuty required options
incident_key: 'scrapy-indexer_flatline'
event_type: 'trigger'
description: 'Scrapy indexer logger has reported no data in the last 5 minutes.'
client_url: "http://dev-kibana.istresearch.com"

# PagerDuty optional fields
details:
  es_host: {{ elastalert_es_host }}
  es_port: {{ elastalert_es4_port }}
  index: "crawler-*"
  query: "logger: scrapy-indexer"
  threshold: 10
  timeframe_min: 5

# context: 

use_local_time: {{elastalert_local_time}}