version: '2'

services:
  pulse_alias:
    image: istresearch/gandalf:curator-pulse-0.1
    environment:
      - INTERVAL={{ curator_pulse_interval }}
      - ES_HOSTS=http{% if curator_es_ssl %}s{% endif %}://{% if curator_es_credentials %}{{ curator_es_user }}:{{ curator_es_pass }}@{% endif %}{{ groups['elasticsearch-nodes'][0] }}:{{ elasticsearch_network_http_port|default(9200) }}
{% if curator_es_ssl %}
      - ELASTICSEARCH_SSL=True
      - ELASTICSEARCH_VERIFY_SSL=True
{% endif %}
      - PREFIX={{ curator_pulse_prefix }}
{% for component in curator_logs %}
  logs_{{ component }}:
    image: istresearch/gandalf:curator-logs-0.1
    environment:
      - TEMPLATE=logs-{{ deploy_env}}-{{ component }}-{{ curator_log_suffix }}
      - RETAIN={{ curator_log_retention }}
      - INTERVAL={{ curator_log_interval }}
      - ES_HOSTS=http{% if curator_es_ssl %}s{% endif %}://{% if curator_es_credentials %}{{ curator_es_user }}:{{ curator_es_pass }}@{% endif %}{{ groups['elasticsearch-nodes'][0] }}:{{ elasticsearch_network_http_port|default(9200) }}
{% if curator_es_ssl %}
      - ES_SSL=True
      - ES_VERIFY_SSL=True
{% endif %}
{% endfor %}
