version: '2.0'
services:
  elasticsearch:
    image: "{{ elasticsearch_repo }}:{{ elasticsearch_image_tag }}"
    ports:
      - "{{ elasticsearch_port|default(9200) }}:9200"
      - "{{ elasticsearch_transport_port|default(9300) }}:9300"
    environment:
      ES_JAVA_OPTS: "-Xmx256m -Xms256m"
      network.host: "0.0.0.0"
      # disable X-Pack
      # see https://www.elastic.co/guide/en/x-pack/current/xpack-settings.html
      #     https://www.elastic.co/guide/en/x-pack/current/installing-xpack.html#xpack-enabling
      xpack.security.enabled: "false"
      xpack.monitoring.enabled: "false"
      xpack.graph.enabled: "false"
      xpack.watcher.enabled: "false"
    volumes:
      - "{{ elasticsearch_data_path }}:/usr/share/elasticsearch/data"
