version: '2.0'
services:
{% for item in pulse_multi_instance %}
{% set port = 5601 + loop.index0 %}
  {{ item.name }}_kibana:
    image: "{{ kibana_repo }}:{{ kibana_image_tag }}"
    container_name: "{{ item.name }}_kibana"
    volumes:
      - "{{ docker_configs_dir }}/kibana.{{ item.name }}.yml:{{ kibana_remote_path }}/kibana.yml"
    ports:
      - "{{ port }}:{{ kibana_port|default(5601) }}"

{% endfor %}

