version: '2.0'
services:
  kibana:
    image: image: docker.elastic.co/kibana/kibana:4.6.4
    container_name: rays_kibana
    volumes:
      - /opt/docker_configs/kibana/rays/:/opt/kibana/config/
    ports:
      - "5600:5601"
