version: '2.0'
services:
  kibana:
    image: "docker.elastic.co/kibana/kibana:{{ kibana_image_tag }}"
    container_name: "{{ kibana_container_name|default('default_name') }}"
    volumes:
      - "/opt/docker_configs/kibana/{{ kibana_deployment_name }}/:/opt/kibana/config/"
    ports:
      - "{{ kibana_external_port|default(replace_me) }}:{{ kibana_port|default(5601) }}"
