version: '2.0'
services:
  ui:
    image: istresearch/pulse-ui:pulse-v3.1.3-release 
    container_name: pulse
    ports:
      - "443:443"
    environment:
      - ENVIRONMENT={{ deploy_env|default('prod') }}
      - PULSE_UI_AUTO_INSTALL={{ pulse_ui_auto_install|default('yes') }}
      - PULSE_MYSQL_DATABASE={{ pulse_mysql_database|default('pulse') }}
      - PULSE_LANDING_PAGE={{ pulse_landing_page }}
      - PULSE_USER={{ pulse_user|default('pulse') }}
      - PULSE_USER_EMAIL={{ pulse_user_email|default('fake@fakemail.com') }}
      - PULSE_USER_PASSWORD={{ pulse_user_pwd }}
      - PULSE_MYSQL_HOST={{ pulse_mysql_host }}
      - PULSE_MYSQL_PORT={{ pulse_mysql_port|default('3306') }}
      - PULSE_MYSQL_USER={{ pulse_mysql_user|default('pulse') }}
      - PULSE_MYSQL_PASSWORD={{ pulse_mysql_pwd }}
      - PULSE_MYSQL_PRIVILEGED_USER={{ pulse_rds_master_user }}
      - PULSE_MYSQL_PRIVILEGED_USER_PASSWORD={{ pulse_rds_master_pwd }}
      - PULSE_MYSQL_DATABASE_CREATE={{ pulse_mysql_db_create|default('yes') }}
      - PULSE_ANALYSIS_IFRAME_URL={{ pulse_admin_analysis_url|default('localhost:5601') }}
    volumes:
      - /opt/pulse/mmr:/var/mmr
    restart: always
