version: '2'
services:

  tgcli:
    image: istresearch/telegraptor:{{ telegram_tgcli_tag }}
    volumes:
      - /data/.telegram-cli:/root/.telegram-cli
    tty: true
    restart: always

  pycli:
    image: istresearch/telegraptor:{{ telegram_pycli_tag }}
    environment:
      - KAFKAHOSTS={% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}

      - KAFKATOPIC_STREAM=telegraptor.stream
      - KAFKATOPIC_HISTORY=telegraptor.history
      - REDIS_HOST={{ telegram_redis_host }}
      - TELEGRAM_NUMBER={{ telegram_number }}
      - TELEGRAM_CLI_HOST=tgcli
      - TELEGRAM_CLI_PORT=4458
      - REDIS_PORT=6379
      - REDIS_DB={{ telegraptor_redis_db }}
      - REDIS_PUBSUB_CH=telegram-notify-prod
      - LOG_NAME=telegraptor-pycli
      - LOG_DIR=/var/log/telegraptor
      - LOG_FILE=telegraptor.log
      - LOG_STDOUT=False
      - LOG_JSON=True
      - LOG_LEVEL=INFO
      - SENTRY_URL=https://SENTRY_UN:SENTRY_PW@sentry.io/122464
    volumes:
      - logs:/var/log/telegraptor
    extra_hosts:
      - {{ inventory_hostname }}:172.17.0.1

  stream:
    image: istresearch/telegraptor:{{ telegram_stream_tag }}
    environment:
      - KAFKAHOSTS={% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}

      - KAFKATOPIC_STREAM=telegraptor.stream
      - KAFKATOPIC_HISTORY=telegraptor.history
      - REDIS_HOST={{ telegram_redis_host }}
      - TELEGRAM_NUMBER=15404249256
      - TELEGRAM_CLI_HOST=tgcli
      - TELEGRAM_CLI_PORT=4458
      - REDIS_PORT=6379
      - REDIS_DB={{ telegraptor_redis_db }}
      - REDIS_PUBSUB_CH={{ rulemanager_telegram_channel }}
      - LOG_NAME=telegraptor-stream
      - LOG_DIR=/var/log/telegraptor
      - LOG_FILE=telegraptor.log
      - LOG_STDOUT=False
      - LOG_JSON=True
      - LOG_LEVEL=INFO
      - SENTRY_URL=https://SENTRY_UN:SENTRY_PW@sentry.io/122464
    depends_on:
      - tgcli
    volumes:
      - logs:/var/log/telegraptor
    restart: always
    extra_hosts:
      - {{ inventory_hostname }}:172.17.0.1

  pubsub:
    image: istresearch/telegraptor:{{ telegram_pubsub_tag }}
    environment:
      - KAFKAHOSTS={% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}

      - KAFKATOPIC_STREAM=telegraptor.stream
      - KAFKATOPIC_HISTORY=telegraptor.history
      - REDIS_HOST={{ telegram_redis_host }}
      - TELEGRAM_CLI_HOST=tgcli
      - TELEGRAM_CLI_PORT=4458
      - REDIS_PORT=6379
      - REDIS_DB={{ telegraptor_redis_db }}
      - REDIS_PUBSUB_CH={{ rulemanager_telegram_channel }}
      - LOG_NAME=telegraptor-pubsub
      - LOG_DIR=/var/log/telegraptor
      - LOG_FILE=telegraptor.log
      - LOG_STDOUT=False
      - LOG_JSON=True
      - LOG_LEVEL=INFO
      - SENTRY_URL=https://SENTRY_UN:SENTRY_PW@sentry.io/122464
    depends_on:
      - tgcli
    volumes:
      - logs:/var/log/telegraptor
    restart: always
    extra_hosts:
      - {{ inventory_hostname }}:172.17.0.1

  logstash:
    image: logstash:{{ logstash_tag }}
    command: logstash -f /etc/logstash/conf.d/logstash.conf
    volumes:
      - {{ docker_configs_dir }}/{{ logstash_file_final }}:/etc/logstash/conf.d/logstash.conf
      - {{ docker_configs_dir }}/logs-template.{{ deploy_env }}.json:/etc/logstash/templates/logs-template.json
      - logs:/var/log/container-logs
    restart: "on-failure:3"

volumes:
  logs:
