version: '2'
services:

  tgcli:
    image: istresearch/telegraptor:tgcli-latest
    volumes:
      - /opt/docker_configs/.telegram-cli-tg:/root/.telegram-cli
    tty: true
    restart: always

  pycli:
    image: istresearch/telegraptor:pycli-2.0.3
    environment:
      - KAFKAHOSTS={% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}

      - KAFKATOPIC_STREAM=ist.telegram_stream
      - KAFKATOPIC_HISTORY=ist.telegram_history
      - REDIS_HOST=qcr-redis.istresearch.com
      - TELEGRAM_NUMBER=15408456582
      - TELEGRAM_CLI_HOST=tgcli
      - TELEGRAM_CLI_PORT=4458
      - REDIS_PORT=6379
      - REDIS_DB=8
      - REDIS_PUBSUB_CH=telegram-notify-prod
      - LOG_NAME=telegraptor-pycli
      - LOG_DIR=/var/log/telegraptor
      - LOG_FILE=telegraptor.log
      - LOG_STDOUT=False
      - LOG_JSON=True
      - LOG_LEVEL=INFO
    volumes:
      - logs:/var/log/telegraptor

  stream:
    image: istresearch/telegraptor:stream-2.0.3
    environment:
      - KAFKAHOSTS={% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}

      - KAFKATOPIC_STREAM=ist.telegram_stream
      - KAFKATOPIC_HISTORY=ist.telegram_history
      - REDIS_HOST=qcr-redis.istresearch.com
      - TELEGRAM_NUMBER=15408456582
      - TELEGRAM_CLI_HOST=tgcli
      - TELEGRAM_CLI_PORT=4458
      - REDIS_PORT=6379
      - REDIS_DB=8
      - REDIS_PUBSUB_CH=telegram-notify-prod
      - LOG_NAME=telegraptor-stream
      - LOG_DIR=/var/log/telegraptor
      - LOG_FILE=telegraptor.log
      - LOG_STDOUT=False
      - LOG_JSON=True
      - LOG_LEVEL=INFO
    depends_on:
      - tgcli
    volumes:
      - logs:/var/log/telegraptor
    restart: always

  pubsub:
    image: istresearch/telegraptor:pubsub-2.0.3
    environment:
      - KAFKAHOSTS={% for host in groups['kafka-nodes'] %}{{ host }}:{{ kafka_port|default(9092) }}{% if not loop.last %},{% endif %}{% endfor %}

      - KAFKATOPIC_STREAM=ist.telegram_stream
      - KAFKATOPIC_HISTORY=ist.telegram_history
      - REDIS_HOST=qcr-redis.istresearch.com
      - TELEGRAM_CLI_HOST=tgcli
      - TELEGRAM_CLI_PORT=4458
      - REDIS_PORT=6379
      - REDIS_DB=8
      - REDIS_PUBSUB_CH=telegram-notify-prod
      - LOG_NAME=telegraptor-pubsub
      - LOG_DIR=/var/log/telegraptor
      - LOG_FILE=telegraptor.log
      - LOG_STDOUT=False
      - LOG_JSON=True
      - LOG_LEVEL=INFO
    depends_on:
      - tgcli
    volumes:
      - logs:/var/log/telegraptor
    restart: always

  logstash:
    image: logstash:latest
    command: logstash -f /etc/logstash/conf.d/logstash.conf --verbose
    volumes:
      - /opt/docker_configs/logstash-telegraptor.conf:/etc/logstash/conf.d/logstash.conf
      - /opt/docker_configs/logs-template.json:/etc/logstash/templates/logs-template.json
      - logs:/var/log/telegraptor

volumes:
  logs:
