server {
  listen {{ datadog_monitors.nginx.port }};
  server_name localhost;

  access_log off;
  allow 127.0.0.1;
  deny all;

  location /{{ datadog_monitors.nginx.endpoint }}{
    stub_status on;
  }
}
