input {
  file {
    path => ['{{ topologies_log_dir }}/*.log']
    codec => json
    tags => ['topologies']
    sincedb_path => "{{ logstash_sincedb_dir }}/since.db"
  }
}

output {
{% if groups['elasticsearch-nodes'] is defined and (groups['elasticsearch-nodes']|length > 0) %}
  if 'topologies' in [tags]{
    elasticsearch {
      hosts => "{{ groups['elasticsearch-nodes'][0] }}:{{ elasticsearch_network_http_port|default(9200) }}"
      template => "{{ logstash_template_dir|default('/etc/logstash.d/templates') }}/pulse-logs-template.json"
      template_name => "logs-*"
      template_overwrite => true
      index => "logs-topologies-%{+YYYY.MM}"
      document_type => "%{[logger]}"
    }
  }
{% endif %}
}
