<?xml version="1.0"?>
<configuration>
    <property>
        <name>oozie.service.HadoopAccessorService.hadoop.configurations</name>
        <value>*={{ oozie_external_vars.hdfs_conf_dir }}</value>
    </property>
</configuration>
