{
    "twitter": {
        "OAUTH_TOKEN_SECRET": {{ twitter_oauth_token_secret }},
        "APP_SECRET": {{ twitter_app_secret }},
        "OAUTH_TOKEN": {{ twitter_oauth_token }},
        "APP_KEY": {{ twitter_app_key }}
        },
    "GNIP": {
        "PWD": {{ gnip_pwd }},
        "UN": {{ gnip_un }},
        "ACCOUNT": {{ gnip_account }},
        "STREAMS": ["dev-darpa", "prod-darpa"]
        },
    "SQL": {
        "UN": "memex",
        "PWD": {{ sql_pwd }},
        "DATABASE": "memex_cooper_prod",
        "HOST": "memex-db.istresearch.com",
        "ROOT": "stuff",
        "ROOT_UN": "COOPER_PROD_ROOT_UN",
        "ROOT_PWD": "COOPER_PROD_ROOT_PW",
        "SCHEMA": "schema.sql"
        },
    "ES": {
        "URL": "http://ist-es01.istresearch.com:9200",
        "INDEX": "traptor-cooper-1"
        },
    "FLASK": {
        "CONFIG_PATH": "/usr/src/app/cooper-the-dog/config.py"
        },
    "KAFKA": {
        "HOST": "crew04.istresearch.com:9092,crew05.istresearch.com:9092,crew06.istresearch.com:9092",
        "TOPIC": "crawl.incoming"
    },
    "THRESHOLDS": {
        "TWEETS_PER_SECOND": 1.0
    },
    "TWITTER_API_URLS": {
        "RATE_LIMIT_URL": "https://api.twitter.com/1.1/application/rate_limit_status.json",
        "SEARCH_API_URL": "https://api.twitter.com/1.1/search/tweets.json"
    },
    "FACEBOOK_SCRAPERS": {
        "GRAPH_SCRAPER_API_URL": {{ graph_api_url }},
        "PROFILE_SCRAPER_URL": {{ profile_url }},
        "PEOPLE_SEARCH_SCRAPER_URL": {{ people_search_url }},
        "FACEBOOK_PROFILE_SPIDER_NAME": "profile-prod"
    },
    "TELEGRAM": {
        "TELEGRAM_PEER_ID_LOOKUP_URL": "http://dockerva.istresearch.com:5010/lookup_peer/"
    },
    "LOGGING": {
        "LOG_FILE_DIR": "/var/log/cooper"
    }
}

