[program:elasticsearch-{{ conf_name }}]
command={{ elasticsearch_install_dir }}/elasticsearch-{{ elasticsearch_version}}/bin/elasticsearch --path.conf={{ elasticsearch_conf_dir }}_{{ conf_name }}
autostart=true
autorestart=true
user={{ elasticsearch_user }}
startsecs=10
startretries=3
startsecs={{ elasticsearch_start_secs }}
startretries={{ elasticsearch_start_retries }}
environment = ES_HEAP_SIZE={{ elasticsearch_heap_size }}