[program:{{ traptor_name }}]
command=python {{ traptor_install_dir }}/default/traptor.py --info --delay=60
environment=PATH="{{ traptor_virtualenv_path }}"
directory={{ traptor_install_dir }}/default
process_name=%(program_name)s
numprocs={{ traptor_num_procs }}
autostart=true
autorestart=true
exitcodes=0,2,3
startsecs={{ traptor_start_secs }}
startretries={{ traptor_start_retries }}
stopsignal=KILL
redirect_stderr=true
stderr_logfile=AUTO
stderr_logfile_maxbytes={{ traptor_stderr_logfile_maxbytes }}
