output {
    datadog_gauge {
        metric_name => "{{ logstash_datadog_metric_name }}"
        queue_size => {{ logstash_datadog_max_queue_size }}
        timeframe => {{ logstash_datadog_flush_interval_s }}
        api_key => "{{ datadog_api_key }}"
        host => "{{ inventory_hostname }}"
    }
}
