version: '2'

services:
  pulse_alias:
    image: istresearch/gandalf:curator-pulse
    environment:
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
      - PREFIX=pulse
  logs_cooper:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-cooper-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_grawler:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-grawler-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_topologies:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-topologies-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_memex_cdr:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-memex-cdr-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_rule_manager:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-rulemanager-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_scrapy-cluster:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-scrapy-cluster-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_telegraptor:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-telegraptor-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  logs_traptor:
    image: istresearch/gandalf:curator-logs
    environment:
      - TEMPLATE=logs-traptor-{year}.{month}.{day}
      - RETAIN=7
      - INTERVAL=3600
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  alias_traptor:
    image: istresearch/gandalf:curator-custom-alias
    environment:
      - REGEX=pulse-arcyber.*
      - ALIAS=traptor
      - INTERVAL=60
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
  alias_bracket:
    image: istresearch/gandalf:curator-custom-alias
    environment:
      # alias to match pulse-default-default beyond 10/2016
      - REGEX=pulse-default-default-2016\.1.*|^(?!pulse-default-default-2016)pulse-default-default.*
      - ALIAS=bracket
      - INTERVAL=60
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
    volumes:
      - /opt/docker_configs/alias_bracket.json:/usr/src/app/filter.json
  alias_rays:
    image: istresearch/gandalf:curator-custom-alias
    environment:
      # alias to match pulse-default-default beyond 10/2016
      - REGEX=pulse-default-default-2016\.1.*|^(?!pulse-default-default-2016)pulse-default-default.*
      - ALIAS=rays
      - INTERVAL=60
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
    volumes:
      - /opt/docker_configs/alias_rays.json:/usr/src/app/filter.json
  alias_nationals:
    image: istresearch/gandalf:curator-custom-alias
    environment:
      # alias to match pulse-default-default beyond 10/2016
      - REGEX=pulse-default-default-2016\.1.*|^(?!pulse-default-default-2016)pulse-default-default.*
      - ALIAS=nationals
      - INTERVAL=60
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
    volumes:
      - /opt/docker_configs/alias_nationals.json:/usr/src/app/filter.json
  alias_training:
    image: istresearch/gandalf:curator-custom-alias
    environment:
      # alias to match pulse-default-default beyond 10/2016
      - REGEX=pulse-default-default-2016\.1.*|^(?!pulse-default-default-2016)pulse-default-default.*
      - ALIAS=training
      - INTERVAL=60
      - ES_HOSTS=ist-es-m01.istresearch.com:9200
    volumes:
      - /opt/docker_configs/alias_training.json:/usr/src/app/filter.json


